<section class="bg-zip-orange-300 p-4 md:p-8 pb-0 md:pb-0 text-center">
	<h2 class="text-white text-2xl md:text-5xl mt-8 mb-16">The benefits</h2>
	<div class="benefits-content bg-white p-4 md:p=8 lg:p-16 container mx-auto flex flex-col md:flex-row rounded-lg text-zip-blue justify-between">
		<div class="flex-1 benefits-content-block py-8 md:py-0">
			<img class="inline-block h-12" src="images/arrow.png">
			<h3 class="mt-6 lg:text-3xl">Increase client bookings</h3>
			<p class="px-8 lg:text-lg">Zip is proven to attract new clients, increase their appointments and repeat visits</p>
		</div>
		<div class="flex-1 benefits-content-block py-8 md:py-0">
			<img class="inline-block h-12" src="images/thumbs_up.png">
			<h3 class="mt-6 lg:text-3xl">No risk</h3>
			<p class="px-8 lg:text-lg">You get paid upfront. All credit dicisions and risk sit with Zip</p>
		</div>
		<div class="flex-1 benefits-content-block py-8 md:py-0">
			<img class="inline-block h-12" src="images/heart.png">
			<h3 class="mt-6 lg:text-3xl">Simple set-up</h3>
			<p class="px-8 lg:text-lg">15 minutes of training and you are ready to go</p>
		</div>
	</div>
</section>