<section class="hero p-4 md:p-8 py-24 md:py-48" role="hero" style="background-image: url(images/hero.jpg);">
	<div class="container mx-auto max-w-6xl">
		<h1 class="text-white text-3xl md:text-4xl lg:text-6xl max-w-xs md:max-w-md lg:max-w-2xl md:mb-10">Instalment Payments for your clients</h1>
		<h2 class="hero-subheading text-white text-xl lg:text-2xl font-normal m-0">Give your clients the opportunity to have their appointment now, but pay later. Pay in 4. No interest. No fees.</h2>
	</div>
</section>