<section class="hero py-48" role="hero" style="background-image: url(images/hero.jpg);">
	<div class="container mx-auto">
		<h1 class="text-white text-6xl max-w-2xl">Instalment Finance for your clients</h1>
		<h2 class="text-white text-2xl max-w-lg">Give your clients the opportunity to have their appointment now, but pay later.<br/>Pay in 4. No interest. No fees.</h2>
	</div>
</section>