<section class="">
	<h2>How it works</h2>
	<div>
		<h3>Step one</h3>
		<p>Confirm appointment with client, introduce Zip as a payment option</p>
	</div>
	<div>
		<h3>Step two</h3>
		<p>Client applies on their mobile, and authorises payment securely. - takes 2 minutes</p>
	</div>
	<div>
		<h3>Step three</h3>
		<p>We pay for the client's appointment with payment direct to you</p>
	</div>
	<div>
		<h3>Step four</h3>
		<p>Client proceeds with appointment and they pay us back - Pay in 4. No interest. No fees</p>
	</div>
</section>