//==========  Form ==========//
.form {
  background: rgb(63, 72, 166);
  background: linear-gradient(
    90deg,
    rgba(63, 72, 166, 1) 0%,
    rgba(34, 41, 102, 1) 100%
  );

  &-check:hover,
  &-submit:hover {
    cursor: pointer;
  }
  &-check input:hover + svg {
    opacity: 0.3;
    display: block !important;
  }
  &-check input:checked + svg {
    opacity: 1;
    display: block !important;
  }
}
