@function retina-size($value) {
  @return floor($value / 2);
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: floor($spriteWidth / 2) floor($spriteHeight / 2);
}

.iti__flag {
  $item-width-maps: (
    au: 20px,
    nz: 20px
  );
  $standard-country: "ac";
  width: map-get($item-width-maps, $standard-country);

  @each $key, $width in $item-width-maps {
    @if $width != map-get($item-width-maps, $standard-country) {
      &.iti__#{$key} {
        width: $width;
      }
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-size: 5652px 15px;
  }
  &.iti__au {
    height: 10px;
    background-position: -286px 0px;
  }
  &.iti__nz {
    height: 10px;
    background-position: -3855px 0px;
  }
}
